body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(39, 16, 133);
}

hr {
    width: 500px;
}

#title {
    margin: 20px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#dropdown {
    width: 300px;
    height: 40px;
    padding: 5px;
    margin: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* text */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* box */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #2f8927;
    color: white;
    border-color: white;
}

.present {
    background-color: #ac9320;
    color: white;
    border-color: white;
}

.absent {
    background-color: #c51230;
    color: white;
    border-color: white;
}